body{
    margin: 0;
  
    text-align: center;
}
.top-container{

    background-color:  #EAF6F6;
}
.bottom-cloud{
    position: absolute;
}
.introduce{
color:  #66BFBF;
padding-top: 80px;

    font-size: 5.625rem;
    width: 20%;
    margin:  0 auto 0;
    font-family: 'Caveat', cursive;

}
h2{
    color:#66BFBF;
}
.introduce-text{
    color: #40514E;
}
hr{
    height: 0;
    border-top: 6px  dotted #EAF6F6 ;
    width: 10% ;
    border-bottom:none;

}
.sub-title{
    line-height: 2;
    font-size: 2.5rem;
color:  #66BFBF;
font-weight: normal;
}
.top-cloud{
    top: 30px;
    position: absolute;
    right: 400px;
}
.skill-row{
    margin: 100px auto 100px auto ;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.myProfile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

h3  {
color: #11999E;

}
a{ 
color: #11999E;

}
.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chillies{
    margin-left: 30px;
    float: right;
    width: 25%;
    
}
.chillies-text-description{
    clear: right;
}
button{
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #0DC7CD;
    border: none;
    width: 200px;
    height: 40px;
}
.btn{
    color:#fff;
    text-decoration: none;
}
.bottom-container{
     padding: 30px 0 20px 0  ;
    margin-top: 40px;
    background-color: #66BFBF;
}
.footer-link{
    text-decoration: none;
    display: inline-block;
margin-top: 30px;
margin-left: 40px;
}
.middle-container{
    margin: 100px 0;
}